/* ******************************* header of page ******************************* */
.backgroundImg {
  width: 100%;
  height: 166px;
  background-image: url("../../image/main page/header/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.1;
  z-index: -1;
}
.backgroundImg::after {
  background: linear-gradient(
    rgba(192, 160, 40, 0),
    rgb(192, 160, 40)
  ) !important;
}

.backgroundImg:after {
  content: "";
  top: -150px;
  right: 0;
  bottom: 0px;
  left: 0;
  position: absolute;
}

.header {
  /* display: grid; */
  justify-content: space-between;
  align-items: center;
}
